
$letra:Arial, Helvetica, sans-serif;
$celeste:#4dabeb;
$blanco-celeste: rgb(193, 230, 240);
$blanco:#ffff;
$negro:#020202;
$azul:#024cbd;

$tamaño-letra: 19px;
$buttons:true!default;

$buttons-color:(
    primario:black,
    secundario:yellow,
    alerta:red,
    cta:orange,
    verde: green,
);

$img: url('../assets/img/ciber.jpg');
